<div class="container">
  <div>
    <button (click)="show19()" class="btn btn-primary mx-2">2019</button>
    <button (click)="show18()" class="btn btn-primary mx-2">2018</button>
    <button (click)="show17()" class="btn btn-primary mx-2">2017</button> 
    <button *ngIf="!clicked" (click)="realtime()" class="btn btn-primary mx-2">Realtime</button>
    <button *ngIf="clicked" (click)="stopRealtime()" class="btn btn-primary mx-2">Stop Realtime</button> 
 </div>
 <div>
   <canvas id="canvas" width="300" height="300"></canvas>
 </div>
</div>